.logoimg{float: left !important;}
.logotxt{line-height: 65px;}
.headerRightText{line-height:95px;font-weight:bold;color:white;float:right;margin-right:80px;font-size:20px;}
.side-nav {top: 100px;}
#page-wrapper{padding: 85px 25px;}